<div class="listaPeliculas">
  <div class="pelicula">
    <img src="https://m.media-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="poster">
    <h3 class="visible">Avengers</h3>
    <input class="" type="text">
    <h4 class="movieYear visible">1995</h4>
    <section class="contenedor-botones">
      <button class="estado terminada boton vista"><span></span>Vista</button>
      <button class="boton editar">Editar</button>
      <button class="boton borrar">Borrar</button>
    </section>
  </div>
  <div class="pelicula">
    <img src="https://m.media-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="poster">
    <h3 class="visible">Avengers</h3>
    <input class="" type="text">
    <h4 class="movieYear visible">1995</h4>
    <section class="contenedor-botones">
      <button class="estado terminada boton vista"><span></span>Vista</button>
      <button class="boton editar">Editar</button>
      <button class="boton borrar">Borrar</button>
    </section>
  </div>
  <div class="pelicula">
    <img src="https://m.media-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="poster">
    <h3 class="visible">Avengers</h3>
    <input class="" type="text">
    <h4 class="movieYear visible">1995</h4>
    <section class="contenedor-botones">
      <button class="estado terminada boton vista"><span></span>Vista</button>
      <button class="boton editar">Editar</button>
      <button class="boton borrar">Borrar</button>
    </section>
  </div>
</div>
