*{
	padding: 0;
	margin: 0;
}
:root {
	/* Define los colores primarios aquí */
	--bs-body-color-rgb: 255, 255, 255;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Poppins;
	background-color: #a66b4747;
}

.fondo-pantalla {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(125% 125% at 50% 10%, black 50%, purple 100%);
}

.fondo-pantalla .patron-lineas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-image: linear-gradient(90deg, rgba(var(--bs-body-color-rgb), .2) 1px, transparent 0),
						linear-gradient(180deg, rgba(var(--bs-body-color-rgb), .2) 1px, transparent 0);
	background-size: 1rem 1rem;
}

.fondo-pantalla .patron-lineas .gradiente-negro {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(0deg, black, transparent);
	z-index: 0;
}
h1{
	text-shadow: 0px 6px 1rem #b53ab591;
	font-size: 1.7em;
}
input,button{
	-webkit-appearance: none;
	appearance: none;
	display: block;
	font-family: Poppins;
}
form{
	position: relative;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
}
form input[type="text"]{
	width: 500px;
	padding: 5px;
	font-size: 1.2em;
	text-align: center;
	margin-top: 20px;
}
form input[type="submit"]{
	border: 1px solid #a720ab7a;
	border-radius: 0 0 10px;
	color: #f7f7f7;
  	background-color: rgb(59 0 59);	
	padding: 10px 15px;
	margin-top: 20px;
	cursor: pointer;
}
form input[type="submit"]:hover{
	background-color: #a720ab7a;
	border: 1px solid #a720ab7a;
}
.encabezado{
	font-family: "Kodchasan", sans-serif;
	font-weight: 200;
	font-style: italic;
    margin: 20px auto 40px;
    text-align: center;
	color: rgb(181 58 181);
}
.listaPeliculas{
	display: flex;
 	flex-direction: column;
}
.peliculas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(17 0 17 / 0%);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
}
.terminada{
    background-color: #04f917cf !important;
}
.poster{
    max-width: 20%;
    height: auto;
	border-radius: 15px;
	margin-right: 50px;
	box-shadow: 15px 0rem 0.8rem #0005;
}
.movieYear{
	margin-top: 38px;
	font-style: italic;
}


.pelicula{
	background: radial-gradient(145% 98% at 4% 9%, black 56%, #5f008070 90%);
	border-radius: 20px;
	padding: 15px;
	display: flex;	
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 20px;
    background-color: rgb(38 42 149 / 25%);
	backdrop-filter: blur(0px);
    box-shadow: 0 .4rem .8rem #0005;
}
.pelicula h3{
	margin-bottom: 0;
}
.pelicula h3,
.pelicula input{
	color: #333;
	font-size: 1.5em;
	border: none;
	width: 100%;
	font-weight: normal;
	display: none;
}
.pelicula input{
	padding-bottom: 5px;
	border-bottom: 1px dashed #999;
	background-color: rgba(245, 245, 245, 0.562);
}
.pelicula .visible{
	margin: 15px 60px;
	left: 37%;
    top: 20px;
    position: absolute;
	display: block;
	color: #756bbd;
	width: auto;
}
.pelicula .boton{
	font-weight: bold;
	border: 1px solid #333;
	border-radius: 10px;
	color: #333;
	background-color: rgb(206 207 239 / 96%);
	padding: 10px 15px;
	margin-top: 128px;
	cursor: pointer;
	width: 117px;
	backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #55555554;
}
.boton:hover{
	background-color: rgb(247 213 183);
}
.borrar:hover{
	background-color: rgb(255 84 84);
}
.vista:hover{
	background-color: #96f76a;
	border: 1px solid #48a81b;
}
/*
.pelicula button:not(:last-child){
	margin-right: 20px;
}*/

/*responsive*/


@media (max-width: 568px) {
	
	form input[type="text"] {
		width: 100%; 
		height: 23px;
		font-size: 1em;
	}
	form input[type="submit"] {
		width: 100%;
	}
	h1{
		font-size: 1.7em;
	}
	.boton:hover{
		border: 1px solid #333;
		background-color: rgba(245, 245, 245, 0.562);
	}	
	.pelicula{
		flex-wrap: wrap;
	}
	.pelicula .boton{
		width: -webkit-fill-available;
		width: 75px;
		margin-top: 20px;
	}
	.peliculas{
		width: 80%;
	}
	.poster{
		max-width: 75%;
		margin-right: 0;
	}
	.pelicula h3{
		position: static;
		display: block;
		margin-bottom: 0;
		font-size: 1em;
	}
	.pelicula h3,
	.pelicula input{
		color: #333;
		font-size: 1.5em;
		border: none;
		width: 100%;
		font-weight: normal;
		display: none;
	}
	.pelicula .visible{
		text-align: center;
		margin-top: 15px;
		margin-right: 60px;
		margin-left: 60px;
		left: 0;
		top: 0;
		position: static;
		display: block;
		color: #756bbd;
		width: -webkit-fill-available;
	}
}